Repository AlexKoltsov/cakes-manager-services, changes with the labels that .github/labeler.yml gives for each.
All labels: ci-cd, test, common-lib, service-discovery, cakes-service, orders-service, people-service, data-generator

.github/labeler.yml:

ci-cd: .github/**

test:
  - cakes-service/src/test/**/*.java
  - common-lib/src/test/**/*.java
  - data-generator/src/test/**/*.java
  - orders-service/src/test/**/*.java
  - people-service/src/test/**/*.java
  - service-discovery/src/test/**/*.java

common-lib: common-lib/**/*.java
service-discovery: service-discovery/**/*.java
cakes-service: cakes-service/**/*.java
orders-service: orders-service/**/*.java
people-service: people-service/**/*.java
data-generator: data-generator/**/*.java

build docker image when pushed to master
  .github/workflows/ci-pr.yml
Labels: ci-cd

build docker image when pushed to master (#8)
  .github/workflows/ci-pr.yml
Labels: ci-cd

build docker image when pushed to master
  .github/workflows/ci.yml
Labels: ci-cd

build-lib.yml added
  .github/workflows/build-lib.yml
Labels: ci-cd

debugging
  common-lib/src/test/java/com/koltsov/cakes/manager/service/DefaultCrudServiceTest.java
Labels: test, common-lib

try reusable GitHub workflows
  .github/workflows/build-cakes-service.yml
  .github/workflows/build-with-maven.yml
Labels: ci-cd

debugging
  common-lib/src/test/java/com/koltsov/cakes/manager/service/DefaultCrudServiceTest.java
Labels: test, common-lib

debugging
  cakes-service/src/test/java/com/koltsov/cakes/manager/cakesservice/service/CakeServiceTest.java
Labels: test, cakes-service

debugging
  .github/workflows/build-cakes-service.yml
Labels: ci-cd

debugging
  .github/workflows/build-cakes-service.yml
  .github/workflows/build-lib.yml
Labels: ci-cd

add other generators
  .github/workflows/build-common-lib.yml
  .github/workflows/build-data-generator.yml
  .github/workflows/build-orders-service.yml
  .github/workflows/build-people-service.yml
  .github/workflows/build-service-discovery.yml
Labels: ci-cd

add test.txt file for test
  cakes-service/test.txt
  common-lib/test.txt
  data-generator/test.txt
  orders-service/test.txt
  people-service/test.txt
  service-discovery/test.txt
Labels: none

revert debugging changes
  cakes-service/src/test/java/com/koltsov/cakes/manager/cakesservice/service/CakeServiceTest.java
  common-lib/src/test/java/com/koltsov/cakes/manager/service/DefaultCrudServiceTest.java
Labels: test, common-lib, cakes-service

ci build services
  .github/workflows/build-cakes-service.yml
  .github/workflows/build-data-generator.yml
  .github/workflows/build-orders-service.yml
  .github/workflows/build-people-service.yml
  .github/workflows/build-service-discovery.yml
Labels: ci-cd

ci build services
  .github/workflows/build-cakes-service.yml
  .github/workflows/build-data-generator.yml
  .github/workflows/build-orders-service.yml
  .github/workflows/build-people-service.yml
Labels: ci-cd

ci build services
  .github/workflows/build.yml
Labels: ci-cd

ci build services
  .github/workflows/build-cakes-service.yml
  .github/workflows/build-common-lib.yml
  .github/workflows/build-data-generator.yml
  .github/workflows/build-orders-service.yml
  .github/workflows/build-people-service.yml
  .github/workflows/build-service-discovery.yml
Labels: ci-cd

ci build services
  .github/workflows/build-with-maven.yml
  .github/workflows/build.yml
Labels: ci-cd

ci build services
  .github/workflows/build.yml
Labels: ci-cd

ci build services
  .github/workflows/build-with-maven.yml
  .github/workflows/build.yml
Labels: ci-cd

ci build services
  .github/workflows/build-with-maven.yml
Labels: ci-cd

ci build services
  .github/workflows/build-with-maven.yml
Labels: ci-cd

ci build services
  .github/workflows/build-with-maven.yml
  .github/workflows/build.yml
Labels: ci-cd

ci build services
  .github/workflows/build-with-maven.yml
Labels: ci-cd

ci build services
  .github/workflows/build.yml
Labels: ci-cd

ci build services
  .github/workflows/build-with-maven.yml
Labels: ci-cd

ci build services
  .github/workflows/build-with-maven.yml
  .github/workflows/build.yml
  common-lib/pom.xml
Labels: ci-cd

ci build services
  .github/workflows/build-with-maven.yml
  common-lib/pom.xml
Labels: ci-cd

ci build services
  common-lib/pom.xml
  pom.xml
Labels: none

ci build services
  .github/workflows/build-with-maven.yml
  pom.xml
Labels: ci-cd

ci build services
  .github/workflows/build-with-maven.yml
  pom.xml
Labels: ci-cd

ci build services
  pom.xml
Labels: none

ci build services
  .github/workflows/build-with-maven.yml
  .github/workflows/build.yml
  pom.xml
Labels: ci-cd

ci build services
  pom.xml
Labels: none

ci build services
  pom.xml
Labels: none

ci build services
  .github/workflows/build-with-maven.yml
  .github/workflows/build.yml
Labels: ci-cd

test.txt deleted
  cakes-service/test.txt
  common-lib/test.txt
  data-generator/test.txt
  orders-service/test.txt
  people-service/test.txt
  service-discovery/test.txt
Labels: none

code coverage
  .github/workflows/build-with-maven.yml
Labels: ci-cd

code coverage
  .github/workflows/build-with-maven.yml
Labels: ci-cd

common lib add dummy test to be able to generate jacoco report
  common-lib/src/test/java/com/koltsov/cakes/manager/service/DefaultCrudServiceTest.java
Labels: test, common-lib
